name: Gradle Package

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: temurin
          cache: gradle

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew build

      - name: Publish to PvPHub Maven (push to main only)
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        env:
          PVPHUB_MAVEN_USERNAME: ${{ secrets.PVPHUB_MAVEN_USERNAME }}
          PVPHUB_MAVEN_SECRET: ${{ secrets.PVPHUB_MAVEN_SECRET }}
        run: ./gradlew publishAllPublicationsToPvphubMavenTofaaRepository
